<html>
<head>
    <title>Title</title>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
    <h1 class="text-center bold">Trending Tweets</h1>
    <a href="{% url 'logout' %}" class="btn btn-primary"> logout</a>
</div>
<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
              <th> Name of tweet</th>
              <th> Tweet volume </th>
              <th> click to see tweet</th>
          </tr>
        </thead>
        <tbody>
            {% for tweets in trendingtweets %}
            <tr>
                <td> {{tweets.name}} </td>
                <td> {{tweets.tweet_volume}} </td>
                <td><a href={{tweets.url}}>click me </a> </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>